extend layout
block title
  title About Me

block content
  h2 About Me
  p
    | Hi, I'm Caleb.
  p 
    | I'm currently a junior at the University of California, Berkeley,
    | majoring in Electrical Engineering and Computer Sciences. 
    | Over the summer of 2013, I interned as a software engineer at 
    a(href='http://www.linkedin.com') LinkedIn
    |. During the school year, I work as a research assistant at the 
    a(href='http://neuroscience.berkeley.edu') Helen Wills Neuroscience Institute 
    | and am also involved with 
    a(href='http://hkn.eecs.berkeley.edu') Eta Kappa Nu 
    | as a student relations officer. 
    | I also occasionally attend class when the mood strikes me. 
  p 
    | My primary interests are in artificial intelligence, computer science theory, and backend development,  
    | but I also aspire to be a full stack developer, 
    | and have interest in many other academic disciplines; 
    | math, physics, and cognitive science, to name a few. 
  p
    | In my spare time, I enjoy biking, drinking green tea, dining at 
    a(href='http://www.kfc.com') fine 
    a(href='http://www.innout.com') restaurants
    |, and having heated arguments on topics I know nothing about.
