extend layout
block title
  title About Me

block content
  h2 About Me
  p
    | Hi, I'm Caleb.
  p 
    | I'm currently a junior at the University of California, Berkeley,
    | majoring in Electrical Engineering and Computer Sciences, 
    | and I'm also currently a TA for 
    a(href='http://inst.eecs.berkeley.edu/~cs61b') CS 61B
    | . Over the summer of 2013, I interned as a software engineer at 
    a(href='http://www.linkedin.com') LinkedIn
    |, and I'm incredibly excited to be interning at 
    a(href='/http://www.asana.com') Asana 
    | next summer. 
    | I've also been involved on campus with 
    a(href='http://hkn.eecs.berkeley.edu') Eta Kappa Nu 
    | for almost two years. I also occasionally attend class when the mood strikes me. 
  p 
    | I'm primarily interested in ways to use technology to
    | improve education and productivity. 
    | Academically, I enjoy studying computer science theory, math,
    | and physics.
  p
    | I mostly spend my spare time by amusing myself with
    | a variety of inane activities. 
    | I also enjoy biking, cooking, eating, drinking green tea, and buying random things from Amazon Prime.
