extend layout

block content
  h2 hello.
  p
    .line my name is caleb.
    .line i'm a second year eecs student at uc berkeley.
    .line when i'm not working, i enjoy piano, frisbee, speedcubing, 
    .line drinking green tea, and looking for good things to eat.
    .line idk hao2frontend lols

block header
  h2 
    .line all about me
