extends layout
block title
  title Blog

block content
  - var posts = getPosts(0,5)
  - var page  = 1
  - each post in posts
    - console.log(post.title)
    include includes/postSnippet

  include includes/pagination
