extend layout
block content
  h2 Contact Info
    .row-fluid
      .span6
        h3 Email
        p
          a(href='mailto:cw@berkeley.edu') cw@berkeley.edu
      .span6
        h3 Phone
        p 860-560-3746
    .row-fluid
      .span6
        h3 
          a(href='https://www.github.com/calebwang') Github
      .span6
        h3 
          a(href='http://www.linkedin.com/calebdwang') LinkedIn

  
