extend layout
block title
  title contact me
block content
  h2 contact info
    .row-fluid
      .span6
        h3 
          a(href='mailto:cw@berkeley.edu') email 
      .span6
        h3 
          a(href='http://www.linkedin.com/in/calebdwang') linkedin
    .row-fluid
      .span6
        h3 
          a(href='https://www.github.com/calebwang') github
      .span6
        h3 
          a(href='http://www.twitter.com/calebdwang') twitter 

  
