extend layout
block title
  title Contact Me
block content
  h2 Contact Information
  ul
    li
      a.purple('href="http://www.twitter.com/calebdwang", 'target="_top"') Twitter 
    li
      a.orange('href="http://www.linkedin.com/in/calebdwang", 'target="_top"') LinkedIn
    li
      a.blue('href="https://www.github.com/calebwang", 'target="_top"') GitHub
    li 
      a.red('href="mailto:cw@berkeley.edu", 'target="_top"') Email
    li
      a.green('href="/files/Resume_1_4.pdf"', 'target="_top"') Resume
