extend layout
block title
  title Contact Me
block content
  h2 Contact Information
  p
    | Under construction...
  p
    | In the meantime, you can reach me at 
    a('href=mailto:caleb@calebwang.net') caleb@calebwang.net

