doctype 5
html
  head
    title #{title} 
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    .container-fluid
      #header.content
        .jumbotron.subhead#overview
          .row-fluid 
            .span7
              br
              br
              br
              h1 Caleb Wang
            .span4
              block header 
    .mycontainer
      .container-fluid
        .row-fluid.well
          #nav
                .span3
                  a(href='/about') About
                .span3
                  a(href='/projects') Projects
                .span3
                  a(href='/blog') Blog
                .span3
                  a(href='/contact') Contact 
        .row-fluid.border-well
          .span9.content-well
            #content
              block content
          .span3.content-well
            #sidebar
              p hi
    #footer.mycontainer
      .container-fluid
        .row-fluid.footer-well
          footer &copy; 2012 caleb wang. all rights reserved.

