// vim: set ts=2 sts=2 sw=2 expandtab:
doctype 5
html
  head
    block title
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='icon', type='image/x-icon', href='/images/site.ico')
    link(href='http://fonts.googleapis.com/css?family=Quattrocento+Sans', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  body
    div#header
    div#content
    canvas#sidebar.sidebar
    script(src='/js/sidebar.js', type='text/javascript')
    div#navbar
      div.navicon#slot_1 slot
      div.navicon#slot_2 frwards
      div.navicon#hero_slot pikachu
      div.navicon#slot_4 forward 
      div.navicon#slot_5 contact
    script(src='/js/navigation.js', type='text/javascript')
