doctype 5
html
  head
    title #{title} 
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    .container-fluid
      #header.content
        .jumbotron.subhead#overview
          .row-fluid 
            .span7
              br
              br
              br
              h1 Caleb Wang
            .span4
              h2 Hello.
              p
                .line My name is Caleb.
                .line I'm a second year EECS student at UC Berkeley.
                .line When I'm not working, I enjoy piano, frisbee, speedcubing, 
                .line drinking green tea, and looking for good things to eat.
                .line hao2frontend?
    #nav.content
      .container
        .row
          .span3
            a(href='/about') About
          .span3
            a(href='/projects') Projects
          .span3
            a(href='/blog') Blog
          .span3
            a(href='/contact') Contact 
    #main-content.content
      .container
        .row
          #main-text
            block content
    #footer.content 
      .container
        .row
          .span4.offset8
            footer Copyright 2012 Caleb Wang. All rights reserved.

