// vim: set ts=2 sts=2 sw=2 expandtab:
doctype 5
html
  head
    title #{title} 
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    script(src='/js/jquery-1.8.3.min.js')
    script
      $(document).ready(function(){
        $(window).scroll(function(){
          if ($(this).scrollTop() > 115) {
            $('#sidebar').css({'margin-top': ($(this).scrollTop()) - 120});
          }
          else {
            $('#sidebar').animate({'margin-top': 0}, 0);
          }
        });
      });
    .container-fluid
      #header.content
        .jumbotron.subhead#overview
          .row-fluid 
            #helpAlignHeader.span5
              h1.align-right
                a.white(href='/') caleb wang
            .span6
              .hidden.align-right
                block header 
              .container-fluid
                .row-fluid
                  br
                .row-fluid#nav
                  .span3
                    a.white(href='/about') about
                  .span3
                    a.white(href='/projects') projects
                  .span3
                    a.white(href='/blog') blog
                  .span3
                    a.white(href='/contact') contact 
    .mycontainer
      .container-fluid
        .row-fluid.skinny-well.hidden
          #nav
            .span3
              a(href='/about') about
            .span3
              a(href='/projects') projects
            .span3
              a(href='/blog') blog
            .span3
              a(href='/contact') contact 
        .row-fluid.border-well
          - if (title == 'blog')
            #content.span9.content-well
              block content
          - else
            #content.span12.content-well
              block content
          .span3
            - if (title == 'blog')
              #sidebar.side-well.floating
                block sidebar
                p
                  a(href='/about') about
                br
                p
                  a(href='/projects') projects
                br
                p
                  a(href='/blog') blog
                br
                p
                  a(href='/contact') contact
    .mycontainer
      - if (title == 'blog')
        #blog-footer
          .container-fluid
            .row-fluid.footer-well
              footer &copy; 2012 caleb wang. all rights reserved.
      - else
        #footer
          .container-fluid
            .row-fluid.footer-well
              footer &copy; 2012 caleb wang. all rights reserved.

