// vim: set ts=2 sw=2
doctype 5
html
  head
    title hello. 
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    script(src='/js/jquery-1.8.3.min.js')
    script
      $(document).ready(function(){
        $(window).scroll(function(){
          if ($(this).scrollTop() > 270) {
            $('#sidebar').css({'margin-top': ($(this).scrollTop()) - 280});
          }
          else {
            $('#sidebar').animate({'margin-top': 0}, 0);
          }
        });
      });
    .container-fluid
      #header.content
        .jumbotron.subhead#overview
          .row-fluid 
            .span7
              br
              br
              br
              h1
                a.white(href='/') caleb wang
            .span4
              block header 
    .mycontainer
      .container-fluid
        .row-fluid.skinny-well
          #nav
            .span3
              a(href='/about') about
            .span3
              a(href='/projects') projects
            .span3
              a(href='/blog') blog
            .span3
              a(href='/contact') contact 
        .row-fluid.border-well
          #content.span9.content-well
            block content
          .span3
            #sidebar.container-fluid.content-well.floating
              block sidebar
              p
                a(href='/about') about
              br
              p
                a(href='/projects') projects
              br
              p
                a(href='/blog') blog
              br
              p
                a(href='/contact') contact
    #footer.mycontainer
      .container-fluid
        .row-fluid.footer-well
          footer &copy; 2012 caleb wang. all rights reserved.

