!!!5
html
    head
        title #{title}
        link(rel='stylesheet' type='text/css' href='/css/style.css')
    body
        header
            h1 Caleb.
        .container
            .main-content
                block content
        footer
            Copyright Caleb Wang 2012
