doctype 5
html
  head
    title #{title} 
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    .container-fluid
      #header.content
        .jumbotron.subhead#overview
          .row-fluid 
            .span7
              br
              br
              br
              h1 Caleb Wang
            .span4
              block header 
    .container-fluid
      .row-fluid
        #nav
          .span10.offset1.well
            .row
              .span3
                a(href='/about') About
              .span3
                a(href='/projects') Projects
              .span3
                a(href='/blog') Blog
              .span3
                a(href='/contact') Contact 
      .row-fluid
        .span8.well.offset1
          block content
        .span2.well
          p hi
    footer 
      .container-fluid
        .row-fluid
          .span10.offset1
            footer &copy; 2012 Caleb Wang. All rights reserved.

