// vim: set ts=2 sts=2 sw=2 expandtab:
doctype 5
html
  head
    block title
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Quattrocento+Sans', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/js/header.js', type='text/javascript')
  body
    #page-content
      div#header
        span#header-hero
          h1
            a.header(href='/') caleb wang
        span#header-nav
          span.navicon
            a.nav(href='/about') about
          span.navicon
            a.nav(href='/blog') blog
          span.navicon
            a.nav(href='/contact') contact
          span.navicon
            a.nav(href='/projects') projects
        span#header-quote
      div#content-container.well(hidden)
        div#content(hidden)
          block content
