extend layout
block title
  title Projects

block content
  h2 Projects 
  div.project
    div.hexagon
      div.horizontal-hexagon-border
        div.middle-hexagon
          div.inner-hexagon-border.blue
    div.hexagon
      div.horizontal-hexagon-image
        div.middle-hexagon
          div.inner-hexagon-border.orange
    div.project-header
        span.project-header-title Rideboard
        span.project-header-links LINKS:  
            a(href='https://github.com/calebwang/rideboard')  REPO 
            a(href='http://rideboard.calebwang.net') DEMO  
        span.project-header-links TEAM: JACK QIAO, TIM BROWN, ANGEL CHEN
    div.project-text Rideboard is a carpooling web application that was built during LinkedIn's Intern HackDay of 2013.

  div.project
    div.hexagon
      div.horizontal-hexagon-border
        div.middle-hexagon
          div.inner-hexagon-border.blue
    div.hexagon
      div.horizontal-hexagon-image
        div.middle-hexagon
          div.inner-hexagon-border.orange
    div.project-header
        span.project-header-title Real Time Fluid Simulation
        span.project-header-links LINKS:  
            a(href='https://github.com/calebwang/spectacled-porpoise')  REPO 
            a(href='http://calebwang.github.io/spectacled-porpoise') DEMO  
            a(href='https://www.youtube.com/watch?v=5On_ISXAy_4') VIDEO  
        span.project-header-links TEAM: AMY TSAI, EDWIN XIE, JASON YE
    div.project-text For my final project in CS184 (Computer Graphics), I worked on a real time fluid simulation that runs on the GPU using WebGL. We use Smoothed Particle Hydrodynamics as a simulation technique, and Screen Space Fluid Rendering to render the particles. The demo requires the WebGL EXT_frag_depth and OES_texture_float extensions.

