html {
    color:#000000;
    background:#fbfbfb;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background:#fbfbfb;
    font-weight: 200;
}

h1 {
    font-weight: 300;
    vertical-align: middle;
    font-size: 72px;
    margin-top: -15px;
}


h2 {
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 4px;
    line-height: 30px;
    font-weight: normal;
}

h3 {
    font-size: 22px;
    font-weight: normal;
}

.sidebar {
    position: fixed; 
    right: 0px;
    margin: -8px;
}

.navicon {
    margin-left: 34px;
    margin-right: 34px;
    text-shadow: 1px 1px 6px #b0b0b0;
}

#header {
    padding-left: 8px;
    height: 100px;
    /*margin-top: 225px;*/
    border-bottom: 4px solid #3399cc;
}

#header-hero {
    float: left;
    text-align: left;
    margin-left: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 42px;
    width: 400px;
    height: 72px;
    text-shadow: 1px 1px 5px #a0a0a0;
}

#header-nav{
    float: right;
    width: 530px;
    margin-top: 75px;
    margin-left: 20px;
    font-size: 24px;   
}

#header-quote {
    position: absolute;
    left: 0px;
    font-size: 12px;
    text-align: right;
    margin-top: 102px;
    margin-left: 175px;
    width: 300px;
}

#content-container {
    margin-top: 18px;
    padding: 10px;
}

#content {
    padding: 16px;
    padding-top: 0px;
    height: 450px;
}
.well {
    border: 5px solid #e3e3e3;
}

#page-content {
    width: 975px;
    margin-left: 135px;
    padding: 0px;
}

a.nav{
    font-size: inherit;
    color: #000000;
    text-decoration: none;
}

a.nav:visited {
    font-size: inherit;
    color: #000000;
    text-decoration: none;
}

a.nav:active {
    font-size: inherit;
    color: #000000;
    text-decoration: none;
}

a.nav:hover {
    font-size: inherit;
    color: #505040;
    text-decoration: none;
}

a.header:hover {
    color: #000000;
}

a.nav{
    font-size: inherit;
    color: #000000;
    text-decoration: none;
}

a.nav:visited {
    font-size: inherit;
    color: #000000;
    text-decoration: none;
}

a.nav:active {
    font-size: inherit;
    color: #000000;
    text-decoration: none;
}

a.nav:hover {
    font-size: inherit;
    color: #505040;
    text-decoration: none;
}

a{
    font-size: inherit;
    color: #000000;
    text-decoration: none;
}

a:visited {
    font-size: inherit;
    color: #000000;
    text-decoration: none;
}

a:active {
    font-size: inherit;
    color: #000000;
    text-decoration: none;
}

a:hover {
    font-size: inherit;
    color: #505040;
    text-decoration: none;
}


