html{
    color:#000000;
    background:#ffffff;}

body{
    font-family: "Helvetica";
}

h1{
    text-align: center;
    font-size: 36px;
}

h2{
    font-size: 28px;
}

footer{
    font-size: 10px;
    text-align: right;
    margin-right: 100px;
}

#site-header{
    margin-top:50px;
    padding: 5px;
    height:150px;
    margin: 0px auto;
    margin-left:20px;
    margin-right:100px;
    background:#00ff00;
}

#main-content{
    margin-left: 75px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 15px;
    width: 600px; 
}

